In [80]:
from selenium import webdriver

In [81]:
driver = webdriver.Chrome('/home/nakul/anaconda3/bin/chromedriver')

In [82]:
driver.get("https://www.linkedin.com")

In [83]:
username = driver.find_element_by_id('session_key')

# send_keys() to simulate key strokes
username.send_keys('nakul199529@gmail.com')

In [84]:
password = driver.find_element_by_id('session_password')

# send_keys() to simulate key strokes
password.send_keys('nakul2001')

In [85]:
log_in_button = driver.find_element_by_class_name('sign-in-form__submit-button')
log_in_button.click()

In [281]:
driver.get('https://www.linkedin.com/school/indian-institute-of-technology-kanpur/people/?facetCurrentCompany=1353')

In [282]:
import time

In [283]:
SCROLL_PAUSE_TIME = 5

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

for i in range(20):
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [173]:
import requests, time, random
from bs4 import BeautifulSoup

In [284]:
src = driver.page_source
soup = BeautifulSoup(src, 'lxml')

In [285]:
ppl = soup.find_all('div' , {'class' : "artdeco-entity-lockup__title ember-view"})

In [286]:
link = []
names=[]
company=[]
for p in ppl :
    if p.find('a') :
        q=p.find('a')
        link.append('https://www.linkedin.com/' + q.get('href')) 
        names.append(q.find('div').get_text().strip())
        company.append('TCS')

In [194]:
#link
#names

In [25]:
for l in link :    
    driver.get(l)

In [163]:
driver.get(link[1])

In [164]:
src = driver.page_source
soup = BeautifulSoup(src, 'lxml')

In [165]:
name=soup.find('div', {'class': 'flex-1 mr5 pv-top-card__list-container'}).find('ul').find('li').get_text().strip()
name

'Ganesh Pitchiah'

In [114]:
name.find('ul').find('li').get_text().strip()

'Anirudh Purwar'

In [191]:
list=[]
for j in range(144) : 
    l=link[j+2]
    print(l)
    driver.get(l)
    
    SCROLL_PAUSE_TIME = 5
    # Get scroll height
    last_height = driver.execute_script("return document.body.scrollHeight")

    for i in range(3):
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.body.scrollHeight")
        if new_height == last_height:
            break
        last_height = new_height
    src = driver.page_source
    soup = BeautifulSoup(src, 'lxml')
    #print(type(soup))
    #print(soup)
    name=soup.find('div', {'class': 'flex-1 mr5 pv-top-card__list-container'}).find('ul').find('li').get_text().strip()
    print(name)
    div=soup.find('section', {'id': 'education-section'})
    #print(div)
    div=div.find('ul')
    #print(div)
    year = div.find('p', {'class': 'pv-entity__dates t-14 t-black--light t-normal'}).find_all('span')[1].get_text().strip()
    print(year)
    branch = div.find('p', {'class': 'pv-entity__secondary-title pv-entity__fos t-14 t-black t-normal'}).find_all('span')[1].get_text().strip()
    degree = div.find('p', {'class': 'pv-entity__secondary-title pv-entity__degree-name t-14 t-black t-normal'}).find_all('span')[1].get_text().strip()
    list.append([name,l,year,degree,branch])
    #driver.refresh()
    #time.sleep(5)

https://www.linkedin.com//in/sakshi-singh-a61a7214b/
Sakshi Singh
https://www.linkedin.com//in/anmol-kumar-22192914b/
Anmol Kumar
https://www.linkedin.com//in/afroz-alam-2177ab9b/
Afroz Alam
https://www.linkedin.com//in/amartyaprusty/
Amartya Prusty
https://www.linkedin.com//in/shiwansh-raj-rai-5158b0106/
Shiwansh Raj Rai
https://www.linkedin.com//in/monamirza25/
Mona Mirza
https://www.linkedin.com//in/vikaskushwaha/
Vikas Kushwaha
https://www.linkedin.com//in/divya-chauhan-0509/
Divya Chauhan
https://www.linkedin.com//in/nitish-sharma-56953345/
Nitish Sharma
https://www.linkedin.com//in/aditya-garg-993b75b8/
Aditya Garg

AttributeError: 'NoneType' object has no attribute 'find'

In [195]:
#list

In [166]:
div=soup.find('section', {'id': 'education-section'}).find('ul')

In [147]:
#name_div

In [167]:
year = div.find('p', {'class': 'pv-entity__dates t-14 t-black--light t-normal'}).find_all('span')[1].get_text().strip()
year

'2014 – 2016'

In [168]:
branch = div.find('p', {'class': 'pv-entity__secondary-title pv-entity__fos t-14 t-black t-normal'}).find_all('span')[1].get_text().strip()
branch

'Finance, General'

In [169]:
degree = div.find('p', {'class': 'pv-entity__secondary-title pv-entity__degree-name t-14 t-black t-normal'}).find_all('span')[1].get_text().strip()
degree

'Master of Business Administration (M.B.A.)'

In [67]:
import pandas as pd

In [193]:
pd.DataFrame(list,columns=['Name','Link','Year','Degree','Branch'])

,Name,Link,Year,Degree,Branch
0,Sakshi Singh,https://www.linkedin.com//in/sakshi-singh-a61a...,2016 – 2020,Bachelor of Technology,Chemical Engineering
1,Anmol Kumar,https://www.linkedin.com//in/anmol-kumar-22192...,2016 – 2018,Master of Technology,Computer Science
2,Afroz Alam,https://www.linkedin.com//in/afroz-alam-2177ab9b/,2014 – 2018,Bachelor of Technology - BTech,Computer Science
3,Amartya Prusty,https://www.linkedin.com//in/amartyaprusty/,2016 – 2020,Bachelor of Technology (B.Tech.),Chemical Engineering
4,Shiwansh Raj Rai,https://www.linkedin.com//in/shiwansh-raj-rai-...,2015 – 2019,Bachelor of Technology (B.Tech.),Aerospace engineering with minor in computer s...
5,Mona Mirza,https://www.linkedin.com//in/monamirza25/,2015 – 2019,Bachelor of Science (B.S.),Chemistry
6,Vikas Kushwaha,https://www.linkedin.com//in/vikaskushwaha/,2008 – 2013,B Tech - M Tech Dual degree,Computer science and Engineering
7,Divya Chauhan,https://www.linkedin.com//in/divya-chauhan-0509/,2016 – 2020,Bachelor of Technology,Computer Science and Engineering
8,Nitish Sharma,https://www.linkedin.com//in/nitish-sharma-569...,2010 – 2014,Bachelor of Technology (BTech),Electrical and Electronics Engineering

In [202]:
nl=pd.DataFrame({'Name': names , 'Link':link , 'Company' : company},columns=['Name','Link','Company'])
nl

,Name,Link,Company
0,Anirudh Purwar,https://www.linkedin.com//in/anirudh-purwar-07...,Goldman Sachs
1,Ganesh Pitchiah,https://www.linkedin.com//in/pitchiahganesh/,Goldman Sachs
2,Sakshi Singh,https://www.linkedin.com//in/sakshi-singh-a61a...,Goldman Sachs
3,Anmol Kumar,https://www.linkedin.com//in/anmol-kumar-22192...,Goldman Sachs
4,Afroz Alam,https://www.linkedin.com//in/afroz-alam-2177ab9b/,Goldman Sachs
...,...,...,...
137,"Sidharath Priyadarshi, CFA, FRM",https://www.linkedin.com//in/sidharath-priyada...,Goldman Sachs
138,Suman Dhara,https://www.linkedin.com//in/suman-dhara-4a549...,Goldman Sachs
139,Gauranga Pal,https://www.linkedin.com//in/gauranga-pal-0203...,Goldman Sachs
140,Sumit Gupta,https://www.linkedin.com//in/sumitgupta2/,Goldman Sachs
141,Prashant Gupta,https://www.linkedin.com//in/prashant-gupta-94...,Goldman Sachs

In [287]:
p=pd.DataFrame({'Name': names , 'Link':link , 'Company' : company},columns=['Name','Link','Company'])
p

,Name,Link,Company
0,Pranjul Gupta,https://www.linkedin.com//in/pranjul-gupta-b44...,TCS
1,Gautam Shroff,https://www.linkedin.com//in/gautam-shroff-066...,TCS
2,Krithi Krithivasan,https://www.linkedin.com//in/krithi-krithivasa...,TCS
3,Arvapalli Sai Susmitha,https://www.linkedin.com//in/arvapalli-sai-sus...,TCS
4,Yash D. Jaiswal,https://www.linkedin.com//in/yashdj/,TCS
...,...,...,...
183,Amit Bhowmik,https://www.linkedin.com//in/amit-bhowmik-1a35...,TCS
184,Ashish Gupta,https://www.linkedin.com//in/ashish-gupta-2ba3...,TCS
185,Sandeep Tammana,https://www.linkedin.com//in/sandeeptj/,TCS
186,Navin Garg,https://www.linkedin.com//in/navin-garg-054821a/,TCS
187,Srinivasulu Sivaraju,https://www.linkedin.com//in/srinivasulu-sivar...,TCS

In [288]:
nl = nl.append(p)
nl

,Name,Link,Company
0,Anirudh Purwar,https://www.linkedin.com//in/anirudh-purwar-07...,Goldman Sachs
1,Ganesh Pitchiah,https://www.linkedin.com//in/pitchiahganesh/,Goldman Sachs
2,Sakshi Singh,https://www.linkedin.com//in/sakshi-singh-a61a...,Goldman Sachs
3,Anmol Kumar,https://www.linkedin.com//in/anmol-kumar-22192...,Goldman Sachs
4,Afroz Alam,https://www.linkedin.com//in/afroz-alam-2177ab9b/,Goldman Sachs
...,...,...,...
183,Amit Bhowmik,https://www.linkedin.com//in/amit-bhowmik-1a35...,TCS
184,Ashish Gupta,https://www.linkedin.com//in/ashish-gupta-2ba3...,TCS
185,Sandeep Tammana,https://www.linkedin.com//in/sandeeptj/,TCS
186,Navin Garg,https://www.linkedin.com//in/navin-garg-054821a/,TCS
187,Srinivasulu Sivaraju,https://www.linkedin.com//in/srinivasulu-sivar...,TCS

In [289]:
nl.to_excel('linkedin_scrap.xlsx')

In [247]:
!pwd

/home/nakul/anaconda3/bin

In [245]:
!cd ..